@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes grow {
  from {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  to {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
}

.animate-grow {
  animation: grow 0.3s forwards;
}
/* CSS file or within a <style> tag */
.dropdown-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute; /* Ensure it positions correctly */
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}

.icon-rotate {
  transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
